In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn
seaborn.set()

In [10]:
data = pd.read_csv("datasets/1.02.+Multiple+linear+regression.csv")
data

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]

In [1]:
data.describe()

NameError: name 'data' is not defined

In [2]:
y = data['GPA']
x1 = data[['SAT', 'Rand 1,2,3']]

NameError: name 'data' is not defined

### multiple regression

In [3]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

NameError: name 'sm' is not defined