In [1]:
import pandas as pd

pd.set_option('display.max_colwidth', None)
df = pd.read_excel("datasets/3.9.+Population+variance+known%2C+z-score_exercise.xlsx")
df.iloc[2:6, 1:3]

,"Confidence intervals. Population known, z-score",Unnamed: 2
2,Background,"You are given the same dataset from the lesson. The population standard deviation is known to be $ 15,000."
3,Task 1,Calculate the mean and the standard error
4,Task 2,Find the appropriate z-score for calculating a 90% confidence interval
5,Task 3,Find the 90% confidence interval

In [2]:

df.tail()

    Unnamed: 0 Confidence intervals. Population known, z-score Unnamed: 2
34         NaN                                           89344        NaN
35         NaN                                          114426        NaN
36         NaN                                           90410        NaN
37         NaN                                           95118        NaN
38         NaN                                          113382        NaN

## Standard Deviation



![](assets/formula.png)

## Calculate the Mean and the Standard error

### Mean

In [3]:
df.iloc[8:,1]

8     Dataset
9      117313
10     104002
11     113038
12     101936
13      84560
14     113136
15      80740
16     100536
17     105052
18      87201
19      91986
20      94868
21      90745
22     102848
23      85927
24     112276
25     108637
26      96818
27      92307
28     114564
29     109714
30     108833
31     115295
32      89279
33      81720
34      89344
35     114426
36      90410
37      95118
38     113382
Name: Confidence intervals. Population known, z-score, dtype: object

In [6]:
df.iloc[9:39,1].mean()

np.float64(100200.36666666667)

- the mean approaches $100,000

## Standard Error

![](assets/standarderrorformula.png)

$\sigma$ = 15,000
n = 30

$15,000/\sqrt{30} = $

2.738

In [16]:
import math
std:float = 15000
n = df.iloc[9:39,1].count()
standard_error = std/math.sqrt(n)
print(standard_error)

2738.6127875258308